body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
main{
    text-align: center;
}
#title {
    margin-top: 50px;
    font-size: 40px;
}
 .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
 }
#tribute-info {
    width: 100%;
    padding-left:20%;
    padding-top: 10px;
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
     
}
#footer {
    margin: 20px;
}
#img-caption{
    margin: 10px;
    padding: 10px;

}
#lists{
    text-align: center;
}

#img-didv{
    margin: 10px;
    padding: 10px;
}
